extend layouts/page

block content
  img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
  img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
  img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
  img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
  h2 Famous Characters From Popular Movie Franchises
  img.pic1(src="/images/pag1.jpg" alt="StarWars" width="555")
  img.pic2(src="/images/page1.jpg" alt="Comics" width="554" height="345")
  img.pic3(src="/images/pag1_2.jpg" alt="LOTR" width="555" height="302")
  img.pic4(src="/images/pag1_3.jpeg" alt="IndyJones" height="303")
  img.pic5(src="/images/pag1_4.jpeg" alt="Future" width="358" height="303")
  img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
  img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
  img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")
  img(src="/images/filmstrip.jpeg" alt="filmstrip" width="277" height="75")